<div id="header">
  <table id="logo-table">
	<tr>
	  <td>
		<div id="logo">
          <span class="site-logo">
            <a href="/"><span id="site-name">{{ site.name }}</span></a>
          </span>
        </div>
	  </td>
	</tr>
  </table>
  <table id="navigation">
    <tbody>
      <tr>          
        {% for sec in site.sections %}
          {% if page.category and page.category == sec.name %}
        <td class="menu-item-active">        
          {% else %}
        <td class="menu-item">        
          {% endif %}
          <a href="{{ sec.url }}">{{ sec.name | capitalize }}</a>
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% if page.category %}
    {% for sec in site.sections %}
      {% if sec.name == page.category %}
        <div id="banner">
          <img src="{{ sec.banner }}"/>
        </div>
      {% endif %}
    {% endfor %}
{% endif %}
