---
layout: default
title: Home
use_math: true
---

<div class="page-header">
  <div class="float-right">
    {% include contact_icons %}
  </div>
  <h1>
    {{ site.author.name }}
    {% if site.tagline %}<br/><small>{{ site.tagline }}</small>{% endif %}
  </h1>
</div>

<!-- recent posts -->
<div class="recent-posts">
  {% for this_post in paginator.posts %}    
  <div class="post">
      <a href="{{ this_post.url }}">
        <h4 class="post-title">{{ this_post.title }}</h4>
      </a>      
      {% include category_info %}
      {% include source_info %}
      <div class="post-content">
        {{ this_post.excerpt | markdownify }}
      </div>
      <script type="text/javascript" src="/assets/js/fix_table_style.js"></script>
      <div class="align-right">
        <a href="{{ this_post.url }}">more ...</a>
      </div>
  </div>
  {% endfor %}
</div>

<!-- pagination links -->
<div class="pagination align-center">
  <ul>
    {% if paginator.next_page %}
    <li class="prev">
      <a href="{{ paginator.next_page_path }}">&laquo; Older</a>
    </li>
    {% else %}
    <li class="prev disabled">
      <a>&laquo; Older</a>
    </li>
    {% endif %}
    <li>
      <a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
    </li>
    {% if paginator.previous_page %}
    <li class="next">
      {% if paginator.previous_page == 1 %}
      <a href="/">Newer &raquo;</a>          
      {% else %}
      <a href="{{ paginator.previous_page_path }}">Newer &raquo;</a>
      {% endif %}
    </li>
    {% else %}
    <li class="next disabled">
      <a>Newer &raquo;</a>
    </li>
    {% endif %}
  </ul>
</div>

