a.cc-logo {
  text-decoration: none !important;
}
a.cc-logo:hover {
  text-decoration: none !important;
}
img.cc-logo {
  height: 16px;
  width: auto;
  vertical-align: -3px;
}
.read-more {
  text-align: right;
}
.float-right {
  float: right;
}
.pagination {
  text-align: center;
}