{% include JB/setup %}
<!DOCTYPE html>
<html {% if page.lang %}lang = "{{ page.lang }}"{% endif %}>
  <head>
    {% include html_meta %}
    <title>{{ page.title }} -- {{ site.title }}</title>
    <link href="/assets/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/syntax.css" rel="stylesheet" type="text/css" media="all">
    {% if page.use_math %}
      {% include mathjax_support %}
    {% endif %}
    {% if page.style %}
    <style type="text/css">
      {{ page.style }}
    </style>
    {% endif %}
  </head>
  <body>
    {% include navigation_bar %}
    <div class="container-narrow">
      <div class="content">
        {{ content }}
      </div>
      <hr/>
      {% include footer %}
    </div>
    {% include JB/analytics %}
  </body>
</html>
